
<% if @food_swaps.any? %>
  <% @food_swaps.each do |food_swap| %>
    <h2><%=  food_swap.title %> Spots available: <%= food_swap.spots_available%></h2>
  <% end %>
<% else %>
  <h2>No foodswaps yet</h2>
<% end %>

<%=  link_to "Add a foodswap", new_food_swap_url %>
