
<% if @food_swaps.any? %>
  <% @food_swaps.each do |food_swap| %>
  <div class="swap-holder">
    <h2><%=  food_swap.title %> Spots available: <%= food_swap.spots_available%></h2>
  </div>
  <% end %>
<% else %>
  <p>No foodswaps yet</p>
<% end %>

<%=  link_to "Add a foodswap", new_food_swap_url %>
